

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom scrollbars or body styles */
html,
body {
  height: 100%;
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
}

* {
  scroll-behavior: smooth;
}
